<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS4241 Final Project Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="The login page to this website.">
    
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body class="bg-dark text-white">
    <header class="navbar navbar-expand-lg bg-black">
      <div class="container-fluid">


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <img src="/images/wpiLogo.png" height="50" width="140" alt="WPI Logo" loading="lazy"/>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <h4 class="my-auto"><a class="nav-link text-black" href="/">TT</a></h4>
            </li>
            <li class="nav-item">
              <p class="my-auto"><a class="nav-link text-white" href="/">Index/Login</a></p>
            </li>
            <li class="nav-item mx-2">
              <h2 class="mt-1"><b>//</b></h2>
            </li>
            <li class="nav-item">
              <p class="my-auto"><a class="nav-link text-white" href="/main.html">Main</a></p>
            </li>
            <li class="nav-item mx-2">
              <h2 class="mt-1"><b>//</b></h2>
            </li>
            <li class="nav-item">
              <p class="my-auto"><a class="nav-link text-white" href="/scores.html">Scores</a></p>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- This section has been adapted from a personal project I am currently developing -->
    <section class="h-100 gradient-form">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card bg-black">
              <div class="row g-0">
                <div class="col-lg-6" style="background-color:#000000;">
                  <div class="card-body p-md-5 mx-md-4 text-white">

                    <div class="text-center">
                      <h3 class="mt-1 mb-4 pb-1 text-white"><b>Account Sign-In</b></h3>
                    </div>

                    <form action="/login" method="POST">
                      <div class="field pb-4">
                        <label for="username">Username: </label>
                        <input class="form-control" type="text" name="username" id="username" placeholder="username" />
                      </div>
                      <div class="field pb-4">
                        <label for="password">Password: </label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="password" />
                      </div>
                      <div class="field">
                        <input class="btn btn-primary btn-block fa-lg gradient-custom-2 mx-auto" id="submit" type="submit" value="Login" />
                      </div>
                        
                    </form>
                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2" style="background-image: linear-gradient(to right bottom, #BB0000, #0000BB);">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h3 class="mb-4"><b>Current Steps to Log In</b></h3>
                    <p class="small mb-0">In order to log in to this application, you can enter any username you want,
                      and give it a password you will want as well. This account will be automatically created but have
                      no data associated with it, so you must manually add the data yourself.
                      <br>
                      <br><b>NOTE:</b> If you would
                      like to log in to an account with data already set up, the username <i>TestingUser</i> and Password
                      <i>Testing</i> is already set up with some dummy data entries.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {{{msg}}}
    

    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>