<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sᴉɹʇǝʇ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The main page to this website.">

    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

  </head>
  <body class = "bg-dark text-white press-start-2p-regular">
    <header class="navbar navbar-expand-lg bg-black">

      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <img src="/images/wpiLogo.png" height="50" width="140" alt="WPI Logo" loading="lazy"/>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 pt-2">
            <li class="nav-item">
              <h4 class="my-auto"><a class="nav-link text-black" href="/">TT</a></h4>
            </li>
            <li class="nav-item">
              <p class="my-auto"><a class="nav-link text-white" href="/">Index/Login</a></p>
            </li>
            <li class="nav-item mx-2">
              <h2 class="mt-1"><b>//</b></h2>
            </li>
            <li class="nav-item">
              <p class="my-auto"><a class="nav-link text-white" href="/main.html">Main</a></p>
            </li>
            <li class="nav-item mx-2">
              <h2 class="mt-1"><b>//</b></h2>
            </li>
            <li class="nav-item">
              <p class="my-auto"><a class="nav-link text-white" href="/scores.html">Scores</a></p>
            </li>
          </ul>
          
          <p class="my-auto"><b>{{{msg}}}</b></p>
        </div>
      </div>
    </header>

    <div class="container">
      <div class = "pt-4 pb-2 mx-auto mt-4 rounded-top bg-black">
        <h2 class="text-center"><b><span class="backwards">Tetris</span> </b></h2>
      </div>

      <div class="d-flex flex-row-reverse bg-black py-4 justify-content-center">
        <div class="bg-dark text-center py-2 mx-3" style="width:33%">
          High Score: <p id="highScore" style="display: inline;">-</p>
        </div>
        <div class="bg-dark text-center py-2 mx-3" style="width:33%; justify-content:center">
          Current Score: <p id="currentScore" style="display: inline;">-</p>
        </div>
      </div>

      <div class = "d-flex justify-content-center pt-5" style="background-color:#0c0c0c">
        <text id = "game-message" class="text-center py-2" style="width:33%">Press s to start</text>
      </div>

      <div style="display: flex; justify-content: center; background-color:#0c0c0c;" class="pb-5 pt-1 rounded-bottom">
          <div class = "d-flex justify-content-center" style="margin-left: 0; margin-right: 5%">
            <text class="text-center pt-5">
              <b>&#60;</b> : move left <br><br>
              <b>z</b> : rotate pieces <br> counterclockwise <br><br>
              <b>&#8595;</b> : soft drop
            </text>
          </div>
          <canvas id="board" style="margin-left: 0; margin-right: 0 "></canvas>
          <canvas id="next" style="margin-left: 0; margin-right: 0"></canvas>
          <div class = "d-flex justify-content-center" style="margin-left: 5%; margin-right: 0">
            <text class="text-center pt-5">
              <b>&#62;</b> : move right <br><br>
              <b>x</b> : rotate pieces <br> clockwise <br><br>
              <b>space</b> : hard drop<br><br>
              <b>r</b> : reset the board
            </text>
          </div>
      </div>
      <button type="button" class="btn btn-primary justify-self-start" onclick="flipCanvas()">Normal Mode</button>
      <button type="button" class="btn btn-primary" onclick="flipCanvasDown()">Silly Mode</button>
      <div class = "d-flex justify-content-center" style="margin-top:-33%; visibility:hidden">
            <div id = "game-over" class="text-center bg-danger" style="width:100%; z-index:+1">GAME OVER</div>
      </div>
    </div>
    
    <script src="/js/main.js"></script>
    <script src="./js/bootstrap.min.js"></script>

  </body>
</html>
