:root {
    --fixed-background: #FFFFFF;
    --fixed-text: #000000;
    --fixed-header: #AC2B37;
    --fixed-sub-header: #902530;
    --fixed-header-text: #FFFFFF;
    --fixed-accent: #A9B0B7;

    --background: #FFFFFF;
    --text: #000000;
    --header: #AC2B37;
    --sub-header: #902530;
    --header-text: #FFFFFF;
    --accent: #A9B0B7;
}

:root .dark {
    --background: #4e4e4e;
    --text: #eaeaea;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    display: grid;
    grid-template-rows: max-content;
}

.header {
    background-color: var(--header);
    color: var(--header-text);
    padding: 2vh;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    position: relative;
}
.header>:is(h1, h2, h3, h4, h5, h6) {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hoverable {
    transition: 0.3s linear filter;
    cursor: pointer;
    user-select: none;
}
.hoverable:hover {
    filter: brightness(80%);
}

input {
    cursor: pointer;
}

#theme-switch svg {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    aspect-ratio: 1/1;
    padding: 4px;
    fill: var(--fixed-header-text);
}
body.dark #dark-switch {
    display: none;
}
body:not(.dark) #light-switch {
    display: none;
}

#menu-options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    background-color: var(--sub-header);
}

#menu-options a {
    height: 5vh;
    text-align: center;
    padding: 1vh 3vh;
    color: var(--header-text);
    background-color: var(--sub-header);
    text-decoration: none;
    font-weight: bolder;
    user-select: none;
}

.ql-snow .ql-stroke {
    stroke: var(--text);
}
.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: var(--text);
}
.ql-snow .ql-picker:not(.ql-expanded) {
    color: var(--text);
}