@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background: dimgray;
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
}

.column {
  flex: 1;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.title {
  font-size: 200%;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 160%;
  font-weight: bold;
  padding-top: 7px;
}

.time-div {
  padding-bottom: 15px;
}

.restaurant {
  flex: 1;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  padding-right: 5%;
}

.restaurant > p {
  font-size: 135%;
  font-weight: bold;
  align-self: center;
}

#top-half-div,
#bottom-half-div {
  height: 50%;
}

#bottom-half-div {
  max-width: 90%;
  align-self: center;
  padding-top: 1.5%;
}

.circle-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  min-width: 200px;
  min-height: 200px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://cdn.glitch.global/446b7435-19b5-4854-910c-66a24ab877a7/goat-icon-grey.png?v=1713456176361");
  background-size: cover;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95%;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.circle-button:hover {
  background-color: darkred;
}

.food-table {
  width: 100%;
  background: indianred;
  max-width: fit-content;
  align-self: center;
}

.food-button {
  margin-left: 10px;
}

.goatbucks {
  font-size: 300%;
  font-weight: bold;
  color: LawnGreen;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 10px;
}

.instructions-button {
  padding-bottom: 15px;
}

.instruction-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #f0f0f0;
  border: 2px solid #cccccc;
  padding: 20px;
  display: none;
  z-index: 9999;
  color: black;
  min-height: fit-content;
  min-width: fit-content;
}

.instruction-box-text {
  text-align: center;
}

.close-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.leaderboard-table {
  border: black;
}
