h2 {
    width: 100%;
    text-align: center;
}

.centered-description .ql-editor {
    text-align: center;
}


#personal-events {
    margin: 0 auto;
    width: max-content;
}
#personal-events li {
    width: max-content;
}

#month {
    margin-bottom: 1vh;
}

table, td, th {
    border: 1px solid;
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: var(--background);
    color: var(--text);
}

td.hoverable {
    background-color: #FFFFFF;
    color: #000000;
}

#post-collection {
    width: 60%;
    max-height: 35vh;
    overflow-y: auto;
}

#calendar {
    margin-bottom: 5vh;
}

#personal-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-height: 80vh;
    overflow-y: auto;
}