/* .grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  justify-content: center;
} */

.box {
  height: 150px;
  background-color: azure;
}

.cell :hover {
  border: 1px solid blue;
  cursor: pointer; 
}

.box :hover {
  border: none;
}

