#root {
  display: flex;
  flex-direction: column;  /* Stacks elements vertically */
  align-items: stretch;   /* Stretches child elements to full width */
  height: 100vh;          /* Makes #root fill the viewport height */
}

.center-page-container {
  display: flex; /* Enables flexbox for positioning */
  flex-direction: column; /* Stacks elements vertically */
  align-items: center; /* Centers elements horizontally */
  justify-content: center; /* Centers elements vertically */
  position: absolute; /* Positions the container absolutely */
  top: 50%; /* Positions the top at 50% viewport height */
  left: 50%; /* Positions the left at 50% viewport width */
  transform: translate(-50%, -50%); /* Adjusts for margins/padding */
  width: fit-content; /* Adjusts width to content (optional) */
}


/* In App.css or a dedicated CSS file for MainPage */
.main-page-container {
  display: flex; 
  justify-content: space-between;
  align-items: flex-start;  /* Align items to the top */
  width: 100%;  /* Allow it to stretch across the screen */
}

.header-section {
  position: absolute;  /* Position absolutely relative to parent */
  top: -10px;              /* Place at top */
  left: 20px;             /* Place at right */
}

.top-right-buttons {
  position: absolute;  /* Position absolutely relative to parent */
  top: 20px;              /* Place at top */
  right: 10px;             /* Place at right */
  display: flex; /* Keeps buttons together */
  justify-content: flex-end; /* Push buttons to the right */
}
