#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  justify-content: space-evenly;
  background-color: #ecfaec;
}

.column {
  /*flex: 1;*/
  padding: 20px;
  width: 20vw;
}
#fireworks-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.firework {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffcc00;
  animation: fireworkAnimation linear infinite;
}

@keyframes fireworkAnimation {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1000px) rotate(720deg);
    opacity: 0;
  }
}

.instruction{
  background-color: #ecfaec;
  padding: 10px;
  margin-bottom: 10px;
}


input:hover {
  border-color: #646cffaa;
}
input {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border: 3px solid #ccc;
  padding: 0.6em;
  width: 200px;
  outline: none;
  font-size: 0.8em;
  color: black;
}

.array-container{
  padding-top: 20px;
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-wrap: wrap;
  width: auto
}

.usedWord{
  background-color:#cfe2f3;
  color: grey;
  padding: 3px 5px;
  font-weight: bold;
  margin: 5px 10px;

}

.lastWord{
  font-weight: bold;
  font-size: 1.2em;
}


