@use 'card';
@use 'chat';

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.pokemon {
    // font-family: 'Pokemon Solid', sans-serif;
    // color:#ffcc03;
    // -webkit-text-stroke:1.5px #386abb;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    all: unset;
}

img {
    width: 100%;
    object-fit: contain;
}

h1 {
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    justify-items: center;
}

.grid-grow {
    flex-grow: 1;
}

.board-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
}

.guess-confirm {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    height: 100vh;
}

.popup {
    width: 50%;
    height: 50%;
    z-index: 1;
    background: silver;
    border: 1vw solid silver;
    box-sizing: border-box;
}

.confirm {
    display: grid;
    grid-template: 3fr 1fr/1fr 1fr;
}

.continue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirm-text {
    width: 100%;
    height: 100%;
}

.stop_events {
    pointer-events: none;
    background: whitesmoke;
    filter: brightness(.5);
}

.board {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100vh;
    background: gainsboro;
}

.chat-window {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    box-sizing: border-box;
    border: 1vw solid transparent;
    overflow-wrap: break-word;
}

.letter {
    height: 4em;
}

.deny-button,
.confirm-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deny-button {
    background-color: darkgray;
}

.confirm-button {
    background-color: whitesmoke;
}

// .endMsg {
//     display: flex;
//     width: 50%;
//     height: 50%;
//     background-color: whitesmoke;
// }

// .endMsg-side {
//     width: 100%;
//     height: 100%;
// }
.gameOver {
    display: flex;
    width: 75vw;
    height: 100vh;
}

.game-end-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border: 1vw solid transparent;
    gap: 1%;
}

.game-end-text {
    flex-grow: 1;
    width: 100%;
    height: 400%;
}

.text-center {
    text-align: center;
}

.quarter-height {
    height: 25%;
}