@use 'card';

body {
    margin: 0;
}

button {
    all: unset;
}

img {
    width: 100%;
    object-fit: contain;
}

h1 {
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    justify-items: center;
}

.grid-grow {
    flex-grow: 1;
}

.board-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

// .board-spinner{

// }
.board {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100vh;
}

.chat-window {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    box-sizing: border-box;
    border: 1vw solid transparent;
    overflow-wrap: break-word;
}